<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="游戏酱紫">
    <meta name="description" content="游戏酱紫">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="renderer" content="webkit">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="游戏酱紫">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-title" content="" id="metaGameTitle">
    <title>游戏酱紫</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="" id="size57">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="" id="siez72">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="" id="size144">
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/icon/favicon.ico" media="screen">
    <link rel="icon" type="image/x-icon" href="/public/images/icon/favicon.ico" media="screen">
</head>
<body ontouchmove="event.preventDefault()">
    <!--loading S-->
    <div class="game-loading">
        <div class="game-loading-logo"></div>
    </div> 
    <!--loading E
    <!-- top S -->
    <div class="top">
        <div class="pc-logo"></div>
        <div class="weiduan-btn">
            杯莫停微端下载
            </div>
    </div>
    <!-- qr code S -->
    <div class="weiduan-code" style="display:none">
        <span class="close-qr-code-btn"></span>
        <p>仅限安卓手机下载</p>
        <p>(苹果手机暂未开放)</p>
        <img id="weiduanQrCode" src="" alt="">
    </div>
    <!-- qr code E -->
    <!-- top E -->
    <!--游戏iframe S-->
    <div class="game-play-page">
        <iframe class="class-iframe" style="width:100%;height:100%;" src="" frameborder="no" marginwidth="0px" marginheight="0px"></iframe>
    </div>
    <!--游戏iframe E-->

    <!--支付 S-->
    <div class="pay-box" id="pay-box" style="display: none;">
        <div>
            <div class="pay-head">
                <span>确认支付方式</span>
                <span id="payClose">×</span>
            </div>
            <div class="pay-info">
                <p id="pname" style="padding-bottom:10px;">月卡（月卡）</p>
                <p id="price">¥ 25.00</p>
            </div>
            <div class="pay-mode">
                <ul id="pay-list">
                    <li class="paytype-wechat" data-type="wechat"><s></s>微信支付  <span class="pay-select pay-select-active"></span></li>
                    <li class="paytype-alipay" data-type="alipay"><s></s>支付宝支付 <span class="pay-select"></span></li>
                    <li class="paytype-ptb" data-type="ptb"><s></s>平台币支付 <span class="pay-select"></span></li>
                </ul>
            </div>
            <div class="pay-btn"><a href="javascript:;" id="readyPay">立即支付</a>
            </div>
            <!-- <div class="pay-tip cf">
                <span id="puid"></span>
                <p>
                    <input type="checkbox" id="pay-select" checked/><label for="pay-select">同意此协议</label>
                    <a href="javascript:;" id="rulesOpen">游戏酱紫玩家条例</a>
                </p>
            </div> -->
        </div>
    </div>
    <div id="alipay-content"></div>

    <!--支付 E-->

    <!--扫码模块 S-->
    <div class="pay-box" id="saoma" style="display: none;">
        <div style="position: relative;">
            <p class="pay-box-tit">
                <span>微信</span> 扫码支付
                <div class="saoma-close"
                   id="closeSaoma">
                </div>
            </p>

            <img id="ewm" src="" width="200" height="200"/>
            <p class="pay-box-bottom">请使用[微信扫一扫]支付</p>
        </div>
    </div>
    <!--扫码模块 E-->


    <!--条例 S-->
    <div id="dialogBox" class="dialog-box" style="display: none;">
        <div class="dialog">
            <div class="dialog_hd">提示信息</div>
            <div class="dialog_bd">
                <div class="wrap">
                    <% require('html-loader!./layout/agreement.html')%>
                    <div class="footer">
                        <p class="e">COPYRIGHT© 2015 ~ 2016 ALL RIGHTS RESERVED.</p>
                        <p><a href="http://h5.wan855.cn" target="_blank">**网络 版权所有</a></p>
                    </div>
                </div>
            </div>
            <div class="dialog_ft"><a href="javascript:;" onclick="windowControl.ruleClose()">确定</a>
            </div>
        </div>
    </div>
    <!--条例 E-->


    <!--返回 S-->
    <div class="back" style="display: none;">
        <div class="back-box">
            <p class="back-btn-fault back-btn-close"></p>
            <img src="" alt="" id="backBanner">
            <div class="back-content">
                <img src="http://h5.wan855.cn/api/public/wechat.jpg" alt="">
                <p>绑定左侧公众号</p>
                <p>进游戏更便利</p>
                <p style="font-size: 18px;line-height: 40px;color: #e41411;">送各种礼包大奖</p>
                <input type="checkbox"  class="noAlert" id="selectOneDay" style="height: 12px;width: 12px;">
                <label for="selectOneDay" style="font-size: 12px;">今日不再提醒</label>
            </div>
            <ul class="game-list" id="gameList">

            </ul>
            <div class="back-btn-box">
                <a href="javascript:;" class="back-btn-leave back-btn">仍要离开</a>
                <!--<input type="button" value="仍要离开" class="back-btn-leave back-btn" onclick="layers.leave()">-->
                <!--<input type="button" value="按错了" onclick="layers.close()" class="back-btn-fault back-btn">-->
            </div>
        </div>
    </div>
    <!--返回 E-->

    <!--悬浮页 S-->
    <%= require('html-loader!./layout/window.html')%>
    <!--悬浮页 E-->

    <!--悬浮球 S-->
    <!-- <div class="float" id="float"></div> -->
    <!--悬浮球 E-->
    <%= require('html-loader!./layout/common.html')%>
</body>
</html>