<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="游戏酱紫">
    <meta name="description" content="游戏酱紫">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="renderer" content="webkit">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="游戏酱紫">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <title>游戏酱紫</title>

</head>
<body>
    <!--游戏iframe S-->
    <div class="game-play-page">
        <iframe class="class-iframe" style="width:100%;height:100%;" src=""></iframe>
    </div>
    <!--游戏iframe E-->

    <!--支付 S-->
    <div class="pay-box" id="pay-box" style="display: none;">
        <div>
            <div class="pay-head">
                <span>确认支付方式</span>
                <span onclick="windowControl.payClose()">×</span>
            </div>
            <div class="pay-info">
                <p id="pname" style="padding-bottom:10px;">月卡（月卡）</p>
                <p id="price">¥ 25.00</p>
            </div>
            <div class="pay-mode">
                <ol id="pay-list" class="cf">
                    <li style="display: list-item;"><i class="pay-wx"></i><span>微信支付</span>
                        <!-- <em class="icon-check"></em> --></li>
                    <!-- <li style="display: list-item;"><i class="pay-zfb"></i><span>支付宝支付</span><em class=""></em></li> -->
                    <li><i class="pay-qq"></i><span>QQ钱包支付</span><em class=""></em></li>
                </ol>
            </div>
            <div class="pay-btn"><a href="javascript:;" id="readyPay" onclick="windowControl.starting()">立即支付</a>
            </div>
            <div class="pay-tip cf">
                <span id="puid"></span>
                <p>
                    <input type="checkbox" id="pay-select" checked/><label for="pay-select">同意此协议</label>
                    <a href="javascript:;" onclick="windowControl.urleOpen()">游戏酱紫玩家条例</a>
                </p>
            </div>
        </div>
    </div>
    <!--支付 E-->

    <!--扫码模块 S-->
    <div class="pay-box" id="saoma" style="display: none;">
        <div style="position: relative;">
            <p class="pay-box-tit">微信扫码支付
                <i class="saoma-close"
                   id="closeSaoma"></i>
            </p>

            <img id="ewm" src="" width="250" height="250"/>
            <p class="pay-box-bottom">请使用[微信扫一扫]支付</p>
        </div>
    </div>
    <!--扫码模块 E-->


    <!--条例 S-->
    <div id="dialogBox" class="dialog-box" style="display: none;">
        <div class="dialog">
            <div class="dialog_hd">提示信息</div>
            <div class="dialog_bd">
                <div class="wrap">
                    <% require('html-loader!./layout/agreement.html')%>
                    <div class="footer">
                        <p class="e">COPYRIGHT© 2015 ~ 2016 ALL RIGHTS RESERVED.</p>
                        <p><a href="http://h5.wan855.cn" target="_blank">**网络 版权所有</a></p>
                    </div>
                </div>
            </div>
            <div class="dialog_ft"><a href="javascript:;" onclick="windowControl.ruleClose()">确定</a>
            </div>
        </div>
    </div>
    <!--条例 E-->

    <!--返回 S-->
    <div class="back" style="display: none;">
        <div class="back-box">
            <i class="back-btn-fault back-btn fa fa-times fa-lg back-btn-close"></i>
            <img src="" alt="" id="backBanner">
            <div class="back-content">
                <img src="http://h5.wan855.cn/api/public/wechat.jpg" alt="">
                <p>绑定左侧公众号</p>
                <p>进游戏更便利</p>
                <p style="font-size: 18px;line-height: 40px;color: #e41411;">送各种礼包大奖</p>
                <input type="checkbox"  class="noAlert" id="selectOneDay" style="height: 12px;width: 12px;">
                <label for="selectOneDay" style="font-size: 12px;">今日不再提醒</label>
            </div>
            <ul class="game-list">
                <!--<volist name="game_list" id="vo">-->
                    <!--<li>-->

                        <!--<img src="{$vo.img}" alt="{$vo.name}" data-name='{$vo.name}' data-type='游戏返回弹出框' data-url={$vo.url}>-->
                        <!--<p>{$vo.name}</p>-->

                    <!--</li>-->
                <!--</volist>-->

                <li>
                    <a>
                        <img src="/public/more-game.png" alt="" data-url='/'>
                        <p>更多游戏</p>
                    </a>
                </li>
            </ul>
            <div class="back-btn-box">
                <a href="javascript:;" class="back-btn-leave back-btn">仍要离开</a>
                <!--<input type="button" value="仍要离开" class="back-btn-leave back-btn" onclick="layers.leave()">-->
                <!--<input type="button" value="按错了" onclick="layers.close()" class="back-btn-fault back-btn">-->
            </div>
        </div>
    </div>
    <!--返回 E-->

    <!--悬浮页 S-->
    <%= require('html-loader!./layout/window.html')%>
    <!--悬浮页 E-->

    <!--悬浮球 S-->
    <div class="float" id="float"></div>
    <!--悬浮球 E-->
    <%= require('html-loader!./layout/common.html')%>
</body>
</html>