.window-wrap{
    position: absolute;
    z-index: 10000;
    background: #fff;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;

}
.window-main{
    float: left;
    width: calc(100% - 53px);
    height: 100%;
}
/*主导航*/
.window-nav{
    position: relative;
    float: right;
    width: 53px;
    height: 100%;
    background: #1a191e;

}
.window-nav-box{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    width: 100%;
}
.window-nav-box a{
    position: relative;
    display: block;
    width: 100%;
}
.window-nav-box a .window-nav-function{
    display: block;
    height: 35px;
    width: 35px;
    margin:0 auto;
    background-size: 100%;
}
.window-nav-function.collection{
    background: url("../../image/window-nav-collection.png") center 0 no-repeat;
}
.window-nav-function.close{
    background: url("../../image/window-nav-close.png") center 0 no-repeat;
}
.window-nav-function.refresh{
    background: url("../../image/window-nav-refresh.png") center 0 no-repeat;
}

.window-nav-box a p{
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    bottom:10px;
    font-size: 10px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 21px;
}


/*头部*/
.window-main-header{
    position: relative;
    height: 55px;
    border-bottom: 1px solid #eee;
    padding: 9px 7.5px;
    box-sizing: border-box;
}
.window-main-header-image{
    display: block;
    float: left;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.window-main-userinfo-box{
    float: left;
    padding: 0 0 0 10px;
}
.window-username{
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #333;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.window-id{
    display: block;
    height: 16px;
    line-height: 16px;
    text-indent: 16px;
    font-size: 12px;
    color: #eece6c;
    background: url("../../image/user_id.png") 0 center no-repeat;
    background-size: 12px 12px;
}
.window-gohome{
    position: absolute;
    top:50%;
    right: 80px;
    margin-top: -11.25px;
    background: url("../../image/gohome.png") 0 center no-repeat;
    background-size: cover;
    width: 25.5px;
    height: 22.5px;
}
.window-change-account{
    position: absolute;
    width: 58px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    border:1px solid #1c81dd;
    right: 10px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #1c81dd;
    box-sizing: border-box;
}
/*导航*/
.window-main-nav{
    display: flex;
    border-bottom: 1px solid #eee;
}
.window-main-nav .window-main-nav-item{
    flex: 1;
    position: relative;
    height: 54px;
}
.nav-image{
    width: 20px;
    height: 20px;
    margin:9px auto 0;
    background-size: 100%!important;
}
.window-main-nav-item.customer-service .nav-image{
    background: url("../../image/customer-service.png") center center no-repeat;
}
/* .window-main-nav-item-active.customer-service .nav-image{
    background: url("../../image/customer-service-active.png") center center no-repeat;
} */
.window-main-nav-item.package .nav-image{
    background: url("../../image/package.png") center center no-repeat;
}
/* .window-main-nav-item-active.package .nav-image{
    background: url("../../image/package-active.png") center center no-repeat;
} */
.window-main-nav-item.save-window .nav-image{
    background: url("../../image/save-window.png") center center no-repeat;
}
/* .window-main-nav-item-active.save-window .nav-image{
    background: url("../../image/save-window-active.png") center center no-repeat;
} */
.window-main-nav-item.more-game .nav-image{
    background: url("../../image/more-game.png") center center no-repeat;
}
/* .window-main-nav-item-active.more-game .nav-image{
    background: url("../../image/more-game-active.png") center center no-repeat;
} */
.window-main-nav .window-main-nav-item p{
    /* position: absolute; */
    width: 100%;
    font-size: 11px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #000;

}
.window-main-nav .window-main-nav-item.window-main-nav-item-active{
    background-color: #eee;
}
.window-main-nav .window-main-nav-item.window-main-nav-item-active p{
    color: #9871be;
}

/*主内容*/
.window-main-item{
    display: none;
    height: 100%;
}
.window-main-item.window-main-item-active{
    display: block;
}
.window-main-list{
    height: calc(100% - 150px);
    overflow:hidden;
}

/*客服*/
.window-main-item-title-wrap{
    padding: 11px 20px;
}
.window-main-item-title{
    height: 20px;
    line-height: 20px;
    background-size: 40px;
    margin-bottom: 14px;
    font-weight: 5    00;
    background-size: contain!important;
}

.window-main-item-title span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    font-size: 14px;      
    /* padding-left: 30px; */
}
.window-main-item-title span.icon-font{
    font-size: 20px;
    color: #999;
}
.customer-service-box img{
    display: block;
    width: 200px;
    height: 200px;
    margin:0 auto ;
}

.customer-service-box p{
    color: #999;
    text-align: center;
    font-size: 11px;
    line-height: 18px;
}
/*礼包*/
.package-wrap{
    position: relative;
}
.package-box{
    border-bottom: 1px solid #f0f0f0;
}
.package-item{
    padding: 16px 28px 16px 16px;
}
.package-item li .package-box{
    position: relative;
    height: 44px;
    
}
.package-item li .package-box .package-img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.package-item li .package-box .package-game-name{
    position: absolute;
    top:50%;
    margin-top: -8px;
    font-size: 16px;
    left: 60px;
}
.package-title{
    position: relative;
    padding: 20px 20px;

}
.package-title p{
    color: #999;
    font-size: 12px;
    line-height: 20px;
}
.package-title-main{
    height: 35px;
    line-height: 35px;
    background-color: #eee;
    font-size: 13px;
    color: #999;
    padding: 0 15px;
}
/* .package-title > div{
    position: absolute;
    height: 30px;
    background-color: #d72132;
    width: 140px;
    left: -20px;
    line-height: 30px;
    text-indent: 20px;
    color: #fff;
} */
.package-title > div .package-triangle{
    position: absolute;
    right:-1px;
    top:0;
    border-right: 20px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.package-item li .package-box .package-link{
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -13px;
    display: block;
    height: 26px;
    border: 1px solid #4385f5;
    width: 50px;
    border-radius: 5px;
    line-height: 26px;
    text-align: center;
    color: #4385f5;
}
.package-content{
    position: relative;
    height: 44px;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
}
.package-content .package-name{
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
}
.package-content .package-describe{
    font-size: 12px;
    color: #999;
    height: 20px;
    line-height: 20px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
}
.package-content .package-get-package{
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -13px;
    display: block;
    height: 26px;
    border: 1px solid #4385f5;
    width: 50px;
    border-radius: 5px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    background-color: #4385f5;
}
.package-get-more{
    padding: 12px 0;
    text-align: center;
    font-size: 14px;
    color: #666;
}
/*存桌面*/
.save-window-wrap{
    padding: 24px 21px 0 40px;
    height: 100%;
   /*  background: url("../../image/save-window-bg.png") center 0 no-repeat;
    background-size: cover!important; */
}
/* @media only screen and (min-width: 600px){
    .save-window-wrap{
        background-size: contain!important;
    }
} */
.save-window-wrap img{
    width: 100%;
    
}
/*更多游戏*/
.more-game-wrap{
    height: 100%;
    /* overflow-y: auto; */
    -webkit-overflow-scrolling: touch;
}
.more-game-wrap ul li{
    padding:17px 10px;
    border-bottom: 1px solid #f5f5f5;
}
.more-game-wrap ul{
    box-sizing: border-box;
    padding-bottom: 50px;
}
.more-game-img{
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 5px;
}
.more-game-box{
    height: 45px;
    float: left;
    padding:0 10px;
    width: 130px;
}
.more-game-name{
    font-size: 13px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    color: #333;
}
.more-game-content{
    font-size: 10px;
    color: #999;
    line-height: 20px;
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.more-game-start{
    float: right;
    display: block;
    height: 20px;
    border: 1px solid #4385f5;
    width: 35px;
    font-size: 11px;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
    color: #4385f5;
    margin-top: 12px;
}
.nothing-gift{
    text-align: center;
    font-size: 13px;
    color:#222;
    padding: 50px 0;
}