<div class="window-wrap" id="windowWrap" style="display: block">
    <div class="window-main">
        <div class="window-main-header">
            <img src="../../image/window-nav-close.png" alt="" class="window-main-header-image">
            <div class="window-main-userinfo-box clearfix">
                <span class="window-username">greentea</span>
                <span class="window-id">123456789</span>
            </div>
            <a href="javascript:;" class="window-change-account">切换账号</a>
        </div>
        <ul class="window-main-nav clearfix">
            <li class="window-main-nav-item customer-service window-main-nav-item-active">
                <div class="nav-image"></div>
                <p>客服</p></li>
            <li class="window-main-nav-item package">
                <div class="nav-image"></div>
                <p>礼包</p></li>
            <li class="window-main-nav-item save-window">
                <div class="nav-image"></div>
                <p>存桌面</p></li>
            <li class="window-main-nav-item more-game">
                <div class="nav-image"></div>
                <p>更多游戏</p></li>
        </ul>
        <ul class="window-main-list">
            <li class="window-main-item">
                <div class="window-main-item-title">
                    <span>客服QQ:2143548021</span>
                </div>
                <div class="customer-service-box">
                    <img src="../../image/erwei.jpg" alt="">
                </div>
            </li>
            <li class="window-main-item window-main-item-active">
                <div class="package-box">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li class="window-main-item">
                3
            </li>
            <li class="window-main-item">
                4
            </li>
        </ul>
    </div>
    <div class="window-nav">
        <div class="window-nav-box">
            <a href="javascript:;" id="windowCollection">
                <span class="window-nav-function collection"></span>
                <p>收藏</p>
            </a>
            <a href="javascript:;" id="windowClose">
                <span class="window-nav-function close"></span>
                <p>关闭</p>
            </a>
            <a href="javascript:;" id="windowRefresh">
                <span class="window-nav-function refresh"></span>
                <p>刷新</p>
            </a>
        </div>
    </div>
</div>