<div class="window-wrap" id="windowWrap" style="display: none">
    <div class="window-main">
        <div class="window-main-header">
            <img src="" alt="" class="window-main-header-image" id="windowMainHeaderImage">
            <div class="window-main-userinfo-box clearfix">
                <span class="window-username" id="windowUsername"></span>
                <span class="window-id" id="windowId"></span>
            </div>
            <a href="/" class="window-gohome" id="windowGohome"></a>
            <a href="javascript:;" class="window-change-account" id="windowChangeAccount">切换账号</a>
        </div>
        <ul class="window-main-nav clearfix" id="windowMainNav">
            <li class="window-main-nav-item customer-service window-main-nav-item-active">
                <div class="nav-image"></div>
                <p>客服</p></li>
            <li class="window-main-nav-item package ">
                <div class="nav-image"></div>
                <p>礼包</p></li>
            <li class="window-main-nav-item save-window" id="saveWindowBtn">
                <div class="nav-image"></div>
                <p>存桌面</p></li>
            <li class="window-main-nav-item more-game" id="moreGame">
                <div class="nav-image"></div>
                <p>更多游戏</p></li>
        </ul>
        <ul class="window-main-list" id="windowMainList">
            <!--客服-->
            <li class="window-main-item window-main-item-active">
                <div class="window-main-item-title">
                    <span>客服QQ:2143548021</span>
                </div>
                <div class="customer-service-box">
                    <img src="../../image/erwei.jpg" alt="">
                    <div>
                        <p>为了方便您查找游戏</p>
                        <p>请关注上方二维码</p>
                    </div>

                </div>
            </li>
            <!--礼包-->
            <li class="window-main-item ">
                <div class="package-wrap" id="packageWrap">

                </div>
            </li>
            <!--存桌面-->
            <li class="window-main-item">
                <div class="save-window-wrap"></div>
            </li>
            <!--更多游戏-->
            <li class="window-main-item ">
                <div class="more-game-wrap" id="moreGameWrap">

                </div>
            </li>
        </ul>
    </div>
    <div class="window-nav">
        <div class="window-nav-box">
            <a href="javascript:;" id="windowCollection">
                <span class="window-nav-function collection"></span>
                <p>收藏</p>
            </a>
            <a href="javascript:;" id="windowClose">
                <span class="window-nav-function close"></span>
                <p>关闭</p>
            </a>
            <a href="javascript:;" id="windowRefresh">
                <span class="window-nav-function refresh"></span>
                <p>刷新</p>
            </a>
        </div>
    </div>
</div>